dir::list files on current path
chdir:path:change to given directory
copy:source,destination:copy source to destination
del:fileSystem:delete given fileSystem
ping:address:check if computer at address is online
edit:fileSystem:view fileSystem content
echo:text,fileSystem:write given text to fileSystem
mode:fileSystem,+-rwx:change fileSystem permissions
su:command:execute as super user