dir::list files on current path
chdir:path:change to given directory
copy:source,destination:copy source to destination
del:file:delete given file
ping:address:check if computer at address is online
note:file:view file content
echo:text,file:write given text to file
mode:file,+-rwx:change file permissions
netmap::scan the entire network and show all active ips