ld::list files on current path
cd:path:change to a given directory
cpy:source,destination:copy source to destination
rem:file:delete given file
ping:address:check if computer at address is online
nano:file:view file content
echo:text,file:write given text to file
perm:file,+-rwx:change file permission